<div class="container">
  <h3 mat-dialog-title>Add new Issue</h3>

  <form class="mat-dialog-content" (ngSubmit)="(submit)" #formControl="ngForm">
    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          #input
          class="form-control"
          placeholder="Id"
          [(ngModel)]="data.id"
          name="id"
          required
        />
        <mat-error *ngIf="formControl.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea
          matInput
          #input
          class="form-control"
          placeholder="Title"
          [(ngModel)]="data.title"
          name="title"
          required
        ></textarea>
        <mat-error *ngIf="formControl.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          #inputstate
          class="form-control"
          placeholder="State"
          [(ngModel)]="data.state"
          name="state"
          maxlength="10"
          required
        />
        <mat-error *ngIf="formControl.invalid">{{
          getErrorMessage()
        }}</mat-error>
        <mat-hint align="end">{{ inputstate.value?.length || 0 }}/10</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Url" [(ngModel)]="data.url" name="url" />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          placeholder="Created at"
          [(ngModel)]="data.created_at"
          name="created_at"
        />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          placeholder="Updated at"
          [(ngModel)]="data.updated_at"
          name="updated_at"
        />
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button
        mat-button
        type="submit"
        [disabled]="!formControl.valid"
        [mat-dialog-close]="1"
        (click)="confirmAdd()"
      >
        Save
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
