<div class="chart-container">
  <div
    class="spinner-container"
    *ngIf="dataService.loading$ | async; else chart"
  >
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #chart>
    <div class="chart-container">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
      >
      </canvas>
    </div>
  </ng-template>
</div>
