/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.app {
  color: var(--primary);
  background: var(--background);
  height: 100%;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;
}
