<div class="top-bar">
  <div class="navigation-wrapper">
    <div class="navigation">
      <a [routerLink]="['/']"> <span>Table</span></a>
    </div>
    <div class="navigation">
      <a [routerLink]="['/chart']"> <span>Chart</span></a>
    </div>
  </div>

  <div class="switch-toggle-wrapper">
    <div>Light</div>
    <mat-slide-toggle
      class="switch-toggle"
      (click)="toggle()"
      [checked]="isChecked"
    ></mat-slide-toggle>
    <div>Dark</div>
  </div>
</div>
