.top-bar {
  display: flex;
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  justify-content: space-between;
  align-items: center;

  .navigation-wrapper {
    display: flex;

    .navigation:not(:last-child) {
      margin-right: 12px;
    }
  }

  .switch-toggle-wrapper {
    display: flex;
    align-items: center;

    .switch-toggle {
      margin: 0px 8px;
    }
  }
}
